.home-section {
  width: auto;
  height: 100vh;
  background: url("../Image/home-image.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
  background-size:cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.header {
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  font-size: 3.75rem;
  margin-left: 2.1rem;
}

.button-category button {
  margin-left: 3rem;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 2rem;
}
