* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}
*::selection {
  background-color: grey;
  color: white;
}

.solution-section {
  width: auto;
}

.progress{
  width:50px;
  height: 22px;
}

.systemData {
  display: flex;
  flex-wrap: wrap;
}

.arrow-box {
  width: 15rem;
  height:17rem;
  background-color: rgb(176, 176, 231);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  border: 0.125rem solid black;
  
}

.arrow-box-card {
  height: 13rem;
  float: left;
  background-color: rgb(176, 176, 231);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.right-arrow {
  width: 4.5rem;
  height: 3rem;
  margin-left: 0.6rem;
  margin-top: 0.9rem;
  background-color: #9ADE7B;
  padding-top: 1rem;
  font-size: 0.8rem;
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}

.down-arrow {
  width: 4.5rem;
  height: 4rem;
  background-color: #9ADE7B;
  margin-top: 0.9rem;
  font-size: 0.8rem;
  padding-top: 1.2rem;
  padding-left: 0.1rem;
  clip-path: polygon(
    65.87% 55.54%,
    85.18% 55.54%,
    51.83% 100%,
    19.48% 53.54%,
    38.29% 53.54%,
    37.29% 0%,
    65.87% 0%
  );
}

.upper-arrow {
  width: 4rem;
  height: 4rem;
  background-color: #9ADE7B;
  padding-top: 1.8rem;
  font-size: 0.8rem;
  clip-path: polygon(
    87% 46%,
    67% 46%,
    68% 100%,
    33% 100%,
    33% 46%,
    10% 46%,
    50% 0%
  );
}

.left-arrow {
  width: 4rem;
  height: 3rem;
  margin-right: 0.6rem;
  margin-top: 0.9rem;
  background-color: #9ADE7B;
  padding-top: 1.1rem;
  font-size: 0.8rem;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}
.bulid {
  width: 15rem;
  height: 17rem;
  background-color: rgb(183, 233, 233);
  border: 0.1rem solid black;
  text-align: center;
  padding-top: 0.3rem;
}
.bulid-body{
  display: flex;
  justify-content:center ;
  align-items: center;
  height: 12rem;
}
.image img {
  width:100px;
  height: 90px;
  padding-left: .9rem;
}
.bulid-img{
  background-blend-mode: color-burn;
}
.time{
  font-size: 0.8rem;
}
.unit-test {
  width: 15rem;
  height: 17rem;
  background-color: rgb(183, 233, 233);
  border: 0.1rem solid black;
  text-align: center;
  padding-top: 0.3rem;
}

.functional-test {
  width: 15rem;
  height: 17rem;
  background-color: rgb(183, 233, 233);
  border: 0.1rem solid black;
  text-align: center;
  padding-top: 0.3rem;
}

.code-cover-box {
  width: auto;
  height: 2.5rem;
  margin-top: 0.6rem;
  padding-top: 0.5rem;
  font-weight: bold;
  background: linear-gradient(to right, rgb(143, 192, 143), transparent);
}

@media (max-width: 665px) {
  th {
    display: none;
  }
  .table-details {
    display: block;
    display: grid;
    grid-template-columns: 20ch auto;
  }
  .table-details::before {
    content: attr(data-cell) " :";
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 0.8rem;
  }
  .systemData {
    display: block;
    justify-content:center;
  }

  .progress{
    width:100%;
    height: 1.3rem;
  }
}
